/*a {
  color: #9d8351
}
p {
  font-size: 18px;
  color: color: #333333;
  line-height: 150%
}
.pc { display: block !important; }
.sp { display: none !important; }
@media only screen and (max-width: 750px) {
.pc { display: none !important; }
.sp { display: block !important; }
}
@media only screen and (max-width: 750px) {
img { max-width: 100%; }
}
*/

.title{
  height:80px;
  text-align: center;
  padding:14px;
  color:#ffffff;
  font-size: 36px;
  font-weight: bold;
  background-color:#145faf;
}

.area{
  padding:5px 5px 5px 40px;
  color:#38424C;
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  border:1px solid #ffd200;
  background-color:#ffd200;
	border-radius:15px;
}

.date{
  text-align: center;
  color:#38424C;
  font-size: 16px;
  font-weight: bold;
}

.weather{
  text-align: center;
}

.maxtemperature{
  color:#e6007d;
  font-size: 14px;
}

.mintemperature{
  color:#145faf;
  font-size: 14px;
}

.description{
  color:#e6007d;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.descriptiondetail{
  color:#38424C;
  font-size: 12px;
}
